# for vs studio
.vs/
Debug/
x64/
Release/
*.suo
*.db-*
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.lastbuidstate
*.db
*.idb


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
